<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FastAPI App{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/script.js" defer></script>

</head>

<body>
  <nav>
    <a href="/">Users</a> |
    <a href="/items">Items</a> |
    <a href="/details">Details</a> |
    <a href="/tags">Tags</a>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>
